<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%=@pirate.name%></h3>
  <h3>Weight: <%=@pirate.weight%></h3>
  <h3>Height: <%=@pirate.height%></h3>
</div>



<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>